name: Docker build nginx-ssl-fingerprint image

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"
  push:
    paths:
      - '.github/workflows/docker-build-nginx-ssl-fingerprint.yml'
      - 'nginx-ssl-fingerprint/**'

jobs:

  build:

    runs-on: ${{ (github.event_name == 'push') && fromJSON('[ "buildjet-16vcpu-ubuntu-2204-arm" ]') || 'ubuntu-latest' }}

    steps:
      - name: Get latest commit hash
        id: get-latest-commit
        run: |
          echo "commit=$(git ls-remote https://github.com/phuslu/nginx-ssl-fingerprint.git | head -n1 | awk '{print $1;}')" >> $GITHUB_ENV
        shell: bash

      - uses: actions/cache@v2
        id: cache
        with:
          path: nginx-ssl-fingerprint
          key: ${{ runner.os }}-${{ env.commit }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          platforms: all

      - name: Check Out Repo
        uses: actions/checkout@v3

      - name: Check Out Repo phuslu/nginx-ssl-fingerprint
        uses: actions/checkout@v3
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          repository: "phuslu/nginx-ssl-fingerprint"
          ref: 'master'
          path: 'nginx-ssl-fingerprint-git'
          
      - name: Login to Quay.io
        if: steps.cache.outputs.cache-hit != 'true'
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Set up Docker Buildx
        if: steps.cache.outputs.cache-hit != 'true'
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: latest

      - name: Set up build timestamp
        if: steps.cache.outputs.cache-hit != 'true'
        run: echo "timestamp=$(date +%Y%m%d)" >> $GITHUB_ENV

      - name: Build and push docker image
        if: steps.cache.outputs.cache-hit != 'true'
        id: docker_build_new
        uses: docker/build-push-action@v3
        with:
          context: ./nginx-ssl-fingerprint-git
          file: ./nginx-ssl-fingerprint/Dockerfile
          platforms: linux/arm64/v8
          push: true
          tags: quay.io/unixfox/nginx-ssl-fingerprint:openssl32-nginx1255-latest, quay.io/unixfox/nginx-ssl-fingerprint:openssl32-nginx1255-${{ env.timestamp }}