name: Docker build ingress-nginx image

on:
  workflow_dispatch:
  #schedule:
  #  - cron: "0 * * * *"
  push:
    paths:
      - '.github/workflows/docker-build-ingress-nginx.yml'
      - 'ingress-nginx/**'

jobs:

  checks:
    runs-on: ubuntu-latest
    outputs:
      cachehit: ${{ steps.cache.outputs.cache-hit }}
      env-tag: ${{ steps.cache.outputs.cache-hit }}
    steps:
      - name: Get latest tag
        id: get-latest-tag
        run: |
          echo "tag=v1.5.2" >> $GITHUB_ENV
        shell: bash

      - uses: actions/cache@v2
        id: cache
        with:
          path: ingress-nginx
          key: ${{ runner.os }}-v4-${{ env.tag }}

  build:

    needs: checks
    runs-on: buildjet-32vcpu-ubuntu-2204-arm
    if: needs.checks.outputs.cache-hit != 'true'
    steps:

      - name: Setup build base
        run: |
          curl -fsSL https://get.docker.com -o /tmp/get-docker.sh
          sudo sh /tmp/get-docker.sh
          sudo apt install golang -y

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all

      - name: Check Out Repo
        uses: actions/checkout@v3
          
      - name: Check Out Repo kubernetes/ingress-nginx
        uses: actions/checkout@v3
        with:
          repository: "kubernetes/ingress-nginx"
          ref: 'controller-${{ needs.checks.outputs.envtag }}'
          path: 'ingress-nginx-git'

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: latest

      - name: Build and push docker base image nginx
        run: |
          cp ingress-nginx/patches/* ingress-nginx-git
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          cd ingress-nginx-git
          git am *.patch
          docker login quay.io --username ${USERNAME} --password ${DOCKER_TOKEN}
          cd images/nginx
          sudo apt update && sudo apt install build-essential -y
          REGISTRY=quay.io/unixfox TAG=${{ needs.checks.outputs.envtag }} PLATFORMS=linux/arm64 make push
        env:
          REGISTRY: quay.io/unixfox
          DOCKER_TOKEN: ${{ secrets.QUAY_PASSWORD }}
          USERNAME: ${{ secrets.QUAY_USERNAME }}

      - name: Build and push docker image nginx controller
        run: |
          docker login quay.io --username ${USERNAME} --password ${DOCKER_TOKEN}
          cd ingress-nginx-git
          REGISTRY=quay.io/unixfox TAG=${{ needs.checks.outputs.envtag }} BASE_IMAGE=quay.io/unixfox/nginx:${{ needs.checks.outputs.envtag }} PLATFORMS="arm64" BUILDX_PLATFORMS=linux/arm64 make release
        env:
          REGISTRY: quay.io/unixfox
          DOCKER_TOKEN: ${{ secrets.QUAY_PASSWORD }}
          USERNAME: ${{ secrets.QUAY_USERNAME }}
