name: Docker build claude-code-mobile image

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/docker-build-claude-code-mobile.yml'
      - 'claude-code-mobile/**'

jobs:

  build:

    runs-on: 'ubuntu-latest'

    steps:
      - name: Get latest commit hash
        id: get-latest-commit
        run: |
          echo "commit=$(git ls-remote https://github.com/slopus/happy-cli.git | head -n1 | awk '{print $1;}')" >> $GITHUB_ENV
        shell: bash

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Check Out Repo
        uses: actions/checkout@v6

      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest

      - name: Set up build timestamp
        run: echo "timestamp=$(date +%Y%m%d)" >> $GITHUB_ENV

      - name: Build and push docker image
        id: docker_build_new
        uses: docker/build-push-action@v6
        with:
          context: ./claude-code-mobile
          file: ./claude-code-mobile/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: quay.io/unixfox/claude-code-mobile:latest, quay.io/unixfox/claude-code-mobile:build-${{ env.timestamp }}
